#vehicle{
    height: 200px;
    background : #fff;
    width: 200px;
    margin: 10px 20px;
    text-align: center;
    padding : 20px 10px;
    border-radius: 3px;
}

#vehicle img{
    width: 150px;
}

#vehicle button{
    position: relative;
    bottom: -30px;
    margin: 10px;
    padding: 10px 30px;
    border: 0;
    outline: none;
    background : #fff;
    text-transform: uppercase;
    font-size: large;
}


@media screen and (max-width:1200px){
    
    #vehicle{
        width: 200px;
        height: 200px;
    }
    #vehicle img{
        width: 150px;
    }
}

@media screen and (max-width: 720px){
    #vehicle{
        width: 180px;
        height: 180px;
    }
    #vehicle img{
        width: 100px;
    }
}