.home{
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 1100px){
    .home{
        grid-template-columns: auto auto;
        margin-top: 17%;
    }
}

@media screen and (max-width: 700px){
    .home{
        grid-template-columns: auto;
        margin-top: 20%;
    }
}
