.header{
    display: flex;
    width: 90%;
    margin: 10px 30px;
    padding: 5px 10px;
    position: absolute;
}

nav{
    position: relative;
    width: 70%;
    text-align: right;
    margin-right: 20px;
    top: 20px;
}

a{
     text-decoration: none;
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    font-size: large;
}

.logo h2{
    text-transform: uppercase;
    color: rgb(2, 1, 1);
}

#login-button{
    background-color: rgb(29, 95, 95);
    padding: 5px 15px;
    color: white;
    border-radius: 4px;
}

@media screen and (max-width:1000px) {
    nav{
        text-align: right;
        justify-content: end;
    }
}

@media screen and (max-width:720px) {
    .header{
        text-align: center;
        display:grid;
        grid-template-columns: auto;
    }
    nav{
        margin: -30px auto;
        text-align: center;
        justify-content: center;
    }
    .logo h2{
        margin-top: -5px;

    }
}
