.header{
    display: flex;
    width: 100%;
    margin: 10px 30px;
    padding: 5px 10px;
    position: absolute;
}

nav{
    position: relative;
    width: 70%;
    top: 30px;
    left: 50%;
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    font-size: large;
}

.logo h2{
    text-transform: uppercase;
}

@media screen and (max-width:1000px) {
    nav{
        left: 200px;
    }
}

@media screen and (max-width:720px) {
    nav{
        left: 100px;
    }
}